<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email xác minh tài khoản EngQuizz</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 20px; padding: 20px; background-color: #f9f9f9;">
<div class="container"
     style="max-width: 600px; margin: 50px auto; padding: 20px 40px; background-color: #ffffff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #333;">Email xác minh tài khoản EngQuizz</h1>
    <p style="color: #666; margin-bottom: 20px;">Gửi {{fullname}},</p>
    <p style="color: #666; margin-bottom: 30px; line-height: 25px">Cảm ơn bạn đã đăng ký với chúng tôi. Để hoàn tất quá
        trình đăng ký và đảm bảo rằng bạn nhận được thông tin cập nhật và thông báo, vui lòng xác minh địa chỉ email của
        bạn bằng cách nhấp vào nút bên dưới:</p>
    <a href="{{verify_link}}" target="_blank" class="button"
       style="display: inline-block; padding: 12px 24px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 25px; transition: background-color 0.3s ease;">Xác nhận email</a>
    <p style="color: #666; margin-top: 30px;">Nếu bạn không bắt đầu yêu cầu này, vui lòng bỏ qua email này.</p>
    <p style="color: #666;">Cám ơn,</p>
    <p style="color: #666;">EngQuizz</p>
</div>
</body>
</html>
